body{
    /**/
    background-color: #efefef;
}
/*.的作用，加载器*/
.main{
    background-color: white;
    margin: 30px;
}

.btn-publish{
    float:right;
    margin-bottom:15px;
}

.media-object{
    width: 38px;
    height: 38px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile.section{
    margin-top:15px;
}

.community-menu {
    color: #999;
    font-size: 13px;
}
/*错误界面“回到主页”跳转按钮*/
.jumbotron {
    margin: 50px;
}