<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>发布</title>
<!--    <link rel="stylesheet" href="../css/bootstrap.min.css"/>-->
<!--    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>-->
<!--    <script src="js/bootstrap.min.js" type=application/javascript></script>-->
<!-- th引入css和js资源文件 -->
<link th:href="@{/css/bootstrap-theme.min.css}" href="../static/css/bootstrap-theme.min.css" rel="stylesheet"/>
<link th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet"/>
<link th:href="@{/css/community.css}" href="../static/css/community.css" rel="stylesheet"/>
<script th:src="@{/js/jquery-3.4.1.min.js}" src="../static/js/jquery-3.4.1.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
</head>
<body>
<!--导入navigation-->
<div th:insert="~{navigation :: nav}"></div>
<!--通过空格直接添加新规则 -->
<div class="container-fluid main">
    <div class="row">
        <!--   按下tab键可以自动生成,12代表占据整个栅格系统12的比例，9+3=12 -->
        <div class="col-lg-9 col-md-12 col-sm-12 col-sx-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 发起</h2>
            <hr>
            <!-- form表单，action后面跟着的是点击提交时提交的地址,即请求地址method=post -->
            <form action="/publish" method="post">
                <!-- 添加Hidden标签，用于表示数据传递但是不进行显示 -->
                <input type = "hidden" name = "id" th:value="${id}">
                <div class="form-group">
                    <label for="title">问题标题（简单扼要）</label>
                    <!-- placeholder占位-->
                    <!-- th:value进行model中的数据显示 -->
                    <input type="text" class="form-control" th:value="${title}" id="title" name="title" placeholder="问题标题...    ">
                </div>
                <div class="form-group">
                    <label for="description">问题补充（必填，请参照右侧提示）</label>
                    <!-- 文本输入框,model回显的时候要用th:text -->
                    <textarea name="description" id="description" th:text="${description}" class="form-control" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签：</label>
                    <!-- placeholder占位-->
                    <input type="text" class="form-control" th:value="${tag}" id="tag" name="tag" placeholder="输入标签，以逗号分隔">
                </div>

                <div class="container-fluid main">
                    <div class="row">
                        <!-- if标签用于展示时候的条件判断  -->
                        <div class="col-lg-9 col-md-12 col-sm-12 col-sx-12">
                             <div class="alert alert-danger col-lg-9 col-md-12 col-sm-12 col-sx-12"
                                 th:text="${error}"
                                 th:if="${error!= null}">
                             </div>

                        </div>
                        <!-- 添加绿色button -->
                        <div class="col-lg-9 col-md-12 col-sm-12 col-sx-12">
                            <button type="submit" class="btn btn-success btn-publish">
                                发布
                            </button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-sx-12"></div>
        <h3>问题发起指南</h3>
        ·问题标题：请用精简的语言描述您发布的问题，不超过25字<br>
        ·问题补充：详细补充您的问题内容，并确保问题描述清晰直观，并提供一些相关的资料<br>
        ·选择标签：选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字<br>
    </div>
</div>
</body>
</html>